<h2 scAutoFocus>rx-let</h2>

<button (click)="setNewEmpty()">set empty</button>
<button (click)="next()">next (timeout 1000) (creates new observable when errored/empty)</button>
<button (click)="error()" [disabled]="needsNewObservable">error</button>

<div>{{randomNum()}} (changes whenever cd runs on component level)</div>

<div class="wrapper">
  <ng-template #suspenseTpl>
    <div>...no value yet. click next to start</div>
  </ng-template>
  <ng-template #errorTpl let-error>
    <div>error: {{error|json}}</div>
  </ng-template>

  <div *scRxLet="let value of value$; suspense:suspenseTpl; error:errorTpl">
    {{value}} (changes when observable emits)
  </div>
</div>

