@use '@angular/cdk' as cdk;

/* reset css for a clean cross browser base */
@import 'reset-css/reset';

@include cdk.overlay();
@include cdk.a11y-visually-hidden();


* {
  box-sizing: border-box;
}

html, body {
  font-family: "Helvetica Neue", sans-serif;
}

body.sg-navigating *{
  cursor: wait !important;
}

*:focus {
  outline: none;
}

:root {
  --sc-flying-focus-gap: -4px;
  --sc-flying-focus-box-shadow: 0 0 0 2px #008277;
  --sc-flying-focus-border-radius: 4px;
}

.sg-tooltip-custom-style {
  --sc-tooltip-background: #fff;
  --sc-tooltip-color: #333;
  --sc-tooltip-border-radius: 4px;
  --sc-tooltip-font-size: 12px;
  --sc-tooltip-line-height: 14px;
  --sc-tooltip-notch-size: 12px;
  --sc-tooltip-padding: 16px;
  --sc-tooltip-filter: drop-shadow(0 0 1px #ccc) drop-shadow(0 16px 16px rgba(13, 27, 41, 0.08)) drop-shadow(0 8px 8px rgba(13, 27, 41, 0.08));

}
